/* Tabs */
#fbfwTabs .nav-tab-wrapper {
font-size:24px;
margin-bottom:20px;
padding:9px 6px 0 6px;
}

#fbfw_tabs {
margin:0;
overflow:hidden;
padding:0;
}

#fbfw_tabs li {
float:left;
margin:0;
}

#fbfw_tabs .nav-tab {
color:#21759B;
font-size:16px;
padding-bottom:3px;
}

#fbfw_tabs .nav-tab:hover {
color:#D54E21;
}

#fbfw_tabs a.nav-tab.selected {
background:#f1f1f1;
color:#333;
}

#fbfw_tabs .nav-tab:focus {
background:none;
outline:none;
}


/* Info Boxes */
#mfbfwd {
border-top:1px dashed #DDDDDD;
margin:20px auto 40px;
overflow:hidden;
padding-top:25px;
width:726px;
}

.mfbfw_box {
border-radius:3px;
float:left;
font-weight:bold;
height:90px;
margin:5px 5px 3px;
opacity:0.7;
padding:0 5px;
text-align:center;
width:220px;
}

.mfbfw_box:hover {
opacity:0.9;
}

.mfbfw_blue {
background:#fdca57;
border:1px solid #d7922d;
color:#975c25;
-webkit-box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
text-shadow: 0px 1px 0px #fee27d;
filter: dropshadow(color=#ffd21f, offx=0, offy=1);
}

.mfbfw_yellow {
background:#fdca57;
border:1px solid #d7922d;
color:#975c25;
-webkit-box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
text-shadow: 0px 1px 0px #fee27d;
filter: dropshadow(color=#ffd21f, offx=0, offy=1);
}