
.settings_page_fancybox-for-wordpress #wpcontent{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
#mfbfwd {
    border-top:1px dashed #DDDDDD;
    margin:20px auto 40px;
    overflow:hidden;
    padding-top:25px;
    width:726px;
}

.mfbfw_box {
    border-radius:3px;
    float:left;
    font-weight:bold;
    height:90px;
    margin:5px 5px 3px;
    opacity:0.7;
    padding:0 5px;
    text-align:center;
    width:220px;
}

.mfbfw_box:hover {
    opacity:0.9;
}

.mfbfw_blue {
    background:#fdca57;
    border:1px solid #d7922d;
    color:#975c25;
    -webkit-box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
    text-shadow: 0px 1px 0px #fee27d;
    filter: dropshadow(color=#ffd21f, offx=0, offy=1);
}

.mfbfw_yellow {
    background:#fdca57;
    border:1px solid #d7922d;
    color:#975c25;
    -webkit-box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 20px 5px #fb9822, inset 0px 1px 0px #fff, 0 0 0 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.5);
    text-shadow: 0px 1px 0px #fee27d;
    filter: dropshadow(color=#ffd21f, offx=0, offy=1);
}

#fbfwTabs {
    background: transparent;
    border: none;
}

#fbfwTabs .ui-tabs-nav {
    background: none;
    border: 0px;
    border-bottom: 1px solid #aaaaaa;
}

#fbfwTabs .ui-tabs-nav li {
    border-radius: 0px;
    margin: 0px 5px;
    background: #e5e5e5;
}

#fbfwTabs .ui-tabs-nav li a {
    font-size: 14px;
    font-weight: 600;
    outline: none;
    box-shadow: none;
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active {
    background: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    color:#000;
    border:1px solid #aaaaaa;
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active a {
    color:#000;
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active:after {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -2px;
    background: #f1f1f1;
    content: "";
    display: block;
}

#fbfwTabs .inlined>div {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

#fbfwTabs .CodeMirror,
#fbfwTabs label[for="extraCalls"] {
    width: 100%;
}

.inlined {
    display:block;
    width:100%;
}

/*Slider Horizontal Style*/

.inlined .slider-horizontal {
    dispaly:inline-block;
    width:80%;
    max-width:200px;
    height:3px !important;
    border:0px !important;
    background:#d6d6d6 !important;
    border-radius:3px !important;
    margin-right:25px;
}
.slider-horizontal .ui-slider-range {
    background:#d6d6d6 !important;
    border-radius:3px !important;
}
.slider-horizontal .ui-slider-handle {
    border-radius:50%;
    height: 18px !important;
    width: 18px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.slider-horizontal .ui-slider-handle.ui-state-active {
    background:#fff !important;
    border-color:#d6d6d6 !important;
}
.inlined input {
    display:inline-block;
    vertical-align:middle;
    width:20%;
    max-width:40px;
}
.inlined .slider-text {
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: #f8f8f8;
    -webkit-box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.1);
    width: 42px;
    height: 22px;
    text-align: center;
}

/*End Slider HorizontalStyle*/
#pluginLogo img {
    max-height:150px;
    width:auto;
}
.inlined > div {
    display:inline-block;
    vertical-align:top;
}
.inlined #pluginLogo {
    width:19%;
    text-align:right;
    min-width:100px;
}
.inlined #pluginDescription {
    width:80%;
    text-align:left;
    min-width:100px;
}
#pluginDescription h2 {
    font-size:2.8em;
    font-weight:400;
    line-height: 1.2em;
}
#pluginDescription p {
    font-size: 19px;
}

/*Checkbox onoff switch style*/

.fancy-table .onoffswitch-checkbox {
    display:none;
}
.fancy-table .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 22px;
    padding: 0;
    width:50px;
    position:relative;
    line-height: 19px;
    transition: background-color 0.2s ease-in;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 30px;
    background-color: #c4c4c4;
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.11);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.11);
}

.fancy-table .onoffswitch-label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 32px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in 0s;
}

.fancy-table .onoffswitch-label:after {
    content: "OFF";
    display: block;
    color: #fff;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 6px;
    font-size: 11px;
    font-family: 'Arial';
}

.fancy-table .onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #3caf0e;
}

.fancy-table .onoffswitch-checkbox:checked + .onoffswitch-label,
input[type="checkbox"]:checked + .onoffswitch-label:before {
    border-color: #3caf0e;
}

.fancy-table .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 2px;
}

.fancy-table .onoffswitch-checkbox:checked + .onoffswitch-label:after {
    content: "ON";
    display: block;
    color: #fff;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 27px;
    font-size: 11px;
    font-family: 'Arial';
}


/*End checkbox onf offswitch design*/

/*Extra calls style*/
#extraCallsBlock {
    width:80%;
}
.CodeMirror-code {
    margin-left:30px;
}
.CodeMirror-linenumber {
    left:-30px !important;
}
.CodeMirror-gutters {
    left:0 !important;
}
/*End extra calls block*/