#fbfwTabs {
    background: transparent;
    border: none;
}

#fbfwTabs .ui-tabs-nav {
    background: none;
    border: 0px;
    border-bottom: 1px solid #aaaaaa;
}

#fbfwTabs .ui-tabs-nav li {
    border-radius: 0px;
    margin: 0px 5px;
    background: #e5e5e5;
}

#fbfwTabs .ui-tabs-nav li a {
    font-size: 14px;
    font-weight: 600;
    outline: none;
    box-shadow: none;
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active {
    background: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	color:#000;
	border:1px solid #aaaaaa;
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active a {
	color:#000;
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active:after {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -2px;
    background: #f1f1f1;
    content: "";
    display: block;
}

#fbfwTabs .inlined>div {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

#fbfwTabs .CodeMirror,
#fbfwTabs label[for="extraCalls"] {
    width: 100%;
}

.inlined {
	display:block;
	width:100%;
}

.inlined .slider-horizontal {
	dispaly:inline-block;
	width:80%;
	max-width:200px;
}

.inlined input {
	display:inline-block;
	vertical-align:middle;
	width:20%;
	max-width:40px;
}