.settings_page_fancybox-for-wordpress #wpcontent {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}

#mfbfwd {
    border-top: 1px dashed #DDD;
    margin: 20px auto 40px;
    overflow: hidden;
    padding-top: 25px;
    width: 726px
}

.mfbfw_box {
    border-radius: 3px;
    float: left;
    font-weight: 700;
    height: 90px;
    margin: 5px 5px 3px;
    opacity: .7;
    padding: 0 5px;
    text-align: center;
    width: 220px
}

.mfbfw_box:hover {
    opacity: .9
}

.mfbfw_blue,
.mfbfw_yellow {
    background: #fdca57;
    border: 1px solid #d7922d;
    color: #975c25;
    -webkit-box-shadow: inset 0 0 20px 5px #fb9822, inset 0 1px 0 #fff, 0 0 0 2px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0 20px 5px #fb9822, inset 0 1px 0 #fff, 0 0 0 2px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 20px 5px #fb9822, inset 0 1px 0 #fff, 0 0 0 2px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .5);
    text-shadow: 0 1px 0 #fee27d;
    filter: dropshadow(color=#ffd21f, offx=0, offy=1)
}

#fbfwTabs {
    background: 0 0;
    border: none
}

#fbfwTabs th {
    min-width:250px;
}

#fbfwTabs .ui-tabs-nav {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #aaa
}

#fbfwTabs .ui-tabs-nav li {
    border-radius: 0;
    margin: 0 5px;
    background: #e5e5e5;
    top: 2px
}

#fbfwTabs .ui-tabs-nav li a {
    font-size: 15px;
    font-weight: 600;
    outline: 0;
    box-shadow: none
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active {
    background: #f1f1f1;
    position: relative;
    color: #000;
    border: 1px solid #aaa
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active a {
    color: #000
}

#fbfwTabs .ui-tabs-nav .ui-tabs-active:after {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -2px;
    background: #f1f1f1;
    content: "";
    display: block
}

#fbfwTabs .inlined > div:not(.cf) {
    display: inline-block;
    width: 50%;
    vertical-align: middle
}

#fbfwTabs .CodeMirror,
#fbfwTabs label[for=extraCalls],
.inlined {
    width: 100%
}

.inlined {
    display: block
}

.inlined .slider-horizontal {
    dispaly: inline-block;
    width: 80%;
    max-width: 200px;
    height: 3px !important;
    border: 0 !important;
    background: #d6d6d6 !important;
    border-radius: 3px !important;
    margin-right: 25px
}

.slider-horizontal .ui-slider-range {
    background: #d6d6d6 !important;
    border-radius: 3px !important
}

.slider-horizontal .ui-slider-handle {
    border-radius: 50%;
    height: 18px !important;
    width: 18px !important;
    top: 50% !important;
    transform: translateY(-50%) !important
}

.slider-horizontal .ui-slider-handle.ui-state-active {
    background: #fff !important;
    border-color: #d6d6d6 !important
}

.inlined input {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    max-width: 40px
}

.inlined .slider-text {
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: #f8f8f8;
    -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, .1);
    width: 42px;
    height: 22px;
    text-align: center
}

#pluginLogo img {
    max-height: 150px;
    width: auto
}

.inlined > div {
    display: inline-block;
    vertical-align: top
}

.inlined #pluginLogo {
    width: 19%;
    text-align: right;
    min-width: 100px
}

.inlined #pluginDescription {
    width: 80%;
    text-align: left;
    min-width: 100px
}

#pluginDescription h2 {
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.2em
}

#pluginDescription p {
    font-size: 19px
}

span.switch-text {
    display: inline-block
}

span.switch-text {
    margin-left: 25px;
    padding: 5px
}

#extraCallsBlock {
    width: 80%
}

#callbackBlock label,
.cf,
.start-editing,
.start-editing p {
    width: 100%
}

.start-editing {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: calc(100% - 5px);
    z-index: 2;
    background: rgba(0, 0, 0, .6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.start-editing p {
    display: block;
    font-size: 20px !important;
}

#callbackBlock label,
#customExpressionBlock label,
label[for="extraCalls"] {
    width: 100%;
    position: relative
}

#callbackBlock label textarea,
#customExpressionBlock label textarea,
label[for="extraCalls"] textarea {
    width: 100%;
    height: 100%;
}

#fbfwTabs .ui-tabs-panel h3 {
    margin-top: 0
}

#fbfwTabs.ui-tabs .ui-tabs-panel {
    padding-left: 0 !important;
    padding-right: 0 !important
}

#callbackBlock .CodeMirror-wrap pre {
    margin-left: 15px
}

tr.spacer {
    height: 25px;
}

.line-spacer {
    height: 15px;
}

.hidden-block {
    margin-top: 15px;
}

.about-wrap.fbfw-wrap {
    max-width:70%;
    float:left;
}

.cf:after,
.cf:before {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.about-wrap.fbfw-wrap .about-text,
.about-wrap.fbfw-wrap h1 {
    margin-right: 0;
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
    position: relative;
    cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 360px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 1);
    color: #fff;
    content: attr(data-tooltip);
    line-height: 1.75;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
    bottom: 100%;
    left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
    margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
    right: 100%;
    bottom: 50%;
    left: auto;
}

.tooltip-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
    -webkit-transform: translateX(-12px);
    -moz-transform: translateX(-12px);
    transform: translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
}

.tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    transform: translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
    bottom: 50%;
    left: 100%;
}

.tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
    top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
}

#fbfwTabs span[data-tooltip] {
    float:right;
}

/* Epsilon toggle */

.epsilon-toggle {
    position: relative;
    float: left;
    user-select: none;
}

.epsilon-toggle__items {
    box-sizing: border-box;
}

.epsilon-toggle__items > * {
    box-sizing: inherit;
}

.epsilon-toggle__input[type=checkbox] {
    border-radius: 2px;
    border: 2px solid #6c7781;
    margin-right: 12px;
    transition: none;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.epsilon-toggle__track {
    background-color: #fff;
    border: 2px solid #6c7781;
    border-radius: 9px;
    display: inline-block;
    height: 18px;
    width: 36px;
    vertical-align: top;
    transition: background .2s ease;
}

.epsilon-toggle__thumb {
    background-color: #6c7781;
    border: 5px solid #6c7781;
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: transform .2s ease;
}

.epsilon-toggle__off {
    position: absolute;
    right: 6px;
    top: 6px;
    color: #6c7781;
    fill: currentColor;
}

.epsilon-toggle__on {
    position: absolute;
    top: 6px;
    left: 8px;
    border: 1px solid #fff;
    outline: 1px solid transparent;
    outline-offset: -1px;
    display: none;
}


.epsilon-toggle__input[type=checkbox]:checked + .epsilon-toggle__items .epsilon-toggle__track {
    background-color: #11a0d2;
    border: 9px solid transparent;
}

.epsilon-toggle__input[type=checkbox]:checked + .epsilon-toggle__items .epsilon-toggle__thumb {
    background-color: #fff;
    border-width: 0;
    transform: translateX(18px);
}

.epsilon-toggle__input[type=checkbox]:checked + .epsilon-toggle__items .epsilon-toggle__off {
    display: none;
}

.epsilon-toggle__input[type=checkbox]:checked + .epsilon-toggle__items .epsilon-toggle__on {
    display: inline-block;
}

#fbfwTabs .fancy-table > tbody > tr > td {
    padding:20px 10px 20px 0;
}

#fbfwTabs .fancy-table select {
    min-width:150px;
    margin-right:15px;
}